 .hero-left {

     margin-top: 90px;


     /* background-color: white; */



 }

 .hero-right{
    margin-top: 58px;
 }


 /* #nav_btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.row{
    padding: 0px;
    margin: 0px;
}
 */

 #hero_left {
     font-family: Inter;
     font-size: 45.36px;
     font-weight: 600;
     line-height: 52px;
     letter-spacing: -2px;
     text-align: center;
 }

 .text_color2 {
     color: #007DA4;
 }

 .centered-button {
     display: block;
     margin: 0 auto;
 

 }

 .small-button{
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 2.0999999046325684px;
    text-align: center;
    color: white;
    background-color: #007DA4 ;
    border: 0px;
    border-radius: 5px;
 }

 .flex-right{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 #hero-img{
        width: 600px;



 }