body {
    background-color: black;
    color: white;
}

#header {
    text-decoration: none;
}

#logo_div {
    display: flex;

    align-items: center;
  

}

#logo {
    height: 62.5%;
    list-style: none;
    margin-right: 30px;
}

.tiny_logo{
    height: 30.5%;
    margin-right: 9px;

}

#main_menu li {
    display: inline;

}

#main_menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_menu ul {
    padding: 0px;
    margin: 0px;
}

#nav_btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#main_menu li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    margin-right: 25px;
}


/* NAVBAR BUTTON */
.nav_btn {
    width: 117.75px;
    height: 40.63px;
    border-radius: 3.76px;
    border-width: 1.5px;
    border-style: solid;
    display: inline-block;
    margin-right: 5px;
}

.btn_text {
    font-family: Inter, sans-serif;
    font-size: 10.53px;
    font-weight: 800;
    line-height: 12.79px;
    text-align: center;
    color: white;
    display: inline-block;
    width: 100%; /* Ensure text takes up the full width of the button */
    height: 100%; /* Ensure text is vertically centered */
    vertical-align: middle; /* Align text vertically */
    padding-top: 13px; /* Center text vertically inside the button */
}

.hero-left {

    margin-top: 90px;


    /* background-color: white; */



}

.hero-right{
   margin-top: 58px;
}


/* #nav_btn {
   display: flex;
   align-items: center;
   justify-content: flex-end;
}
.row{
   padding: 0px;
   margin: 0px;
}
*/

#hero_left {
    font-family: Inter;
    font-size: 45.36px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: -2px;
    text-align: center;
}

.text_color2 {
    color: #007DA4;
}

.centered-button {
    display: block;
    margin: 0 auto;


}

.small-button{
   font-family: Inter;
   font-size: 14px;
   font-weight: 600;
   line-height: 21px;
   letter-spacing: 2.0999999046325684px;
   text-align: center;
   color: white;
   background-color: #007DA4 ;
   border: 0px;
   border-radius: 5px;
}

.flex-right{
   display: flex;
   align-items: center;
   justify-content: center;
}
#hero-img{
       width: 600px;



}